html{
	@include desktop {
		font-size: 15px;
	}
}



.title{
	font-size: 36px;
	line-height: 48px;
	font-weight:bold;
	color:white;
	margin-bottom: 65px;

	@include desktop {
		font-size: 30px;
		line-height: 36px;
	}
}




button{
	outline:none;
}




