section.user
  .container.user-cont
    .user__wrap
      .user__left
        .user__img
          +image('content/alimbo_profile.jpg', 'user-logo')
      .user__right
        p.text Привет, меня зовут
        h1.name Владислав Забуранный
        p.text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.    
      .user__left
        .user-info
          .user-info__box
            span.user-info__headline Проживаю
            span.user-info__text Винница 
          .user-info__box
            span.user-info__headline Возраст
            span.user-info__text 23 года
          .user-info__box  
            span.user-info__headline Родился
            span.user-info__text 27 июня 1996
      .user__right.user-fix  
        p.text.text_italic Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!