
section.skill-sec
  +image('content/Руки.png', 'hand')
  .container.skill-sec__cont
    .skill-sec__info
      h2.title Чем я могу быть полезен вам
      p.text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!


    .skills-sec__widget
      #skills-component 


    